<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center test-primary">Inscription</h2>
    <hr>

    <div class="mb-3">
        <label style="margin-right:10px;">Je suis :</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Homme
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Femme
        </label>
    </div>
    
    <app-text-input [formControl]="$any(registerForm.controls['username'])" 
                    [label]="'Nom utilisateur'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" 
                    [label]="'Known As'"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" 
                    [label]="'Date of Birth'" [maxDate]="maxDate"></app-date-picker>
    <app-text-input [formControl]="$any(registerForm.controls['city'])" 
                    [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" 
                    [label]="'Country'"></app-text-input>


    <app-text-input [formControl]="$any(registerForm.controls['password'])" 
                    [label]="'Mot de passe'" 
                    [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" 
                    [label]="'Confirmez mot de passe'" 
                    [type]="'password'"></app-text-input>
    
    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors ">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
       <button [disabled]="!registerForm.valid" class="btn btn-success" type="submit">Valider</button>
       <button class="btn btn-default" type="button" (click)="cancel()">Annuler</button>

    </div>
</form>


